
/* adding color to its layout, h1, h3 and fitting imeage */
* {
    padding: 0;
    margin: 0; 
}
body {
    background-color: lightgrey;
}
h1 {
    padding: 20px;
    font-family: Arial;
    text-align: center;
}
hr{
    border-style: dashed;
}
h3 {
    font-size: 21px;
    text-align: center;
    margin: 10px;
    font-style: italic;
}

.img-container {
    margin: auto;
    padding: auto;
    
    text-align: center;
}

.main-image {
    object-fit: contain ;
    height: auto;
    margin: auto;
    max-width: 100%;
    margin-right: 30px;
    
}
.life-headerbold{
    text-align: center;
    margin-left: auto;
}
 