
/* adding color to its layout, h1, h3 and fitting imeage */
* {
    padding: 0;
    margin: 0; 
}
body {
    background-color: green;
}
h1 {
    padding: 20px;
    font-family: Arial;
    color: yellow;
}
h3 {
    font-size: 20px;
    background-color: green;
    margin: 10px;
}

.img-container {
    margin: auto;
    padding: auto;
    background-color: greenyellow;
}

main-image {
    object-fit: contain ;
    height: auto;
    margin: auto;
    max-width: 100%;

}
 